#
# Normal rules (sorted alphabetically)
#
.*
*.a
*.bin
*.elf
*.i
*.lds
*.o
*.patch
*.s

#
# Generated include files
#
/include/generated/

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitattributes
!.gitignore

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*~
