#
# Normal rules
#
.*
*.a
*.o
*.s
*.i
*.lds
*.elf
*.bin
*.patch

#
# Generated include files
#
include/generated

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitattributes
!.gitignore

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*~
